{
  email {$CADDY_EMAIL:it@thecrossing.church}
}

{$DOMAIN:localhost} {
  encode zstd gzip

  # Don't index this site under any circumstance.
  header X-Robots-Tag "noindex, nofollow"

  reverse_proxy app:4000 {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote_host}
    header_up Host {host}
  }
}
